<div class="container">
  <div class="header">
    <div class="row d-flex justify-content-center align-items-center" style="height: 100px;"> 
      <h1 class="title">個展サーチ</h1>
    </div>
    <div class="row d-flex justify-content-center align-items-center" style="height: 100px;">
      <h1>個展を開くクリエイターとアート好きを繋ぐサイトです。</h1>
    </div>
    <div class="row justify-content-center my-1">
      <div class="col-md-5">
        <div class="p-4 border rounded shadow-sm text-center" style="background-color: #f9f9f9;">
          <i class="fas fa-paint-brush fa-3x mb-3" style="color: #63E6BE;"></i>
          <h4 class="mb-3">クリエイター向け</h4>
          <p>クリエイターは新規登録することで個展開催情報を公開することができます。</p>
        </div>
    </div>
      <div class="col-md-5">
        <div class="p-4 border rounded shadow-sm text-center" style="background-color: #f9f9f9;">
          <i class="fas fa-search fa-3x mb-3" style="color: #74C0FC;"></i>
          <h4 class="mb-3">アート好き向け</h4>
          <p>アート好きは個展情報を場所や開催場所で検索することができます。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 100px;"> 
    <%= render partial: 'public/posts/post_list', locals: { posts: @posts } %>
  </div>
</div>