@use '~bootstrap/scss/bootstrap';


body {
  font-family: 'BIZ UDPMincho', serif;
}

.navbar {
  color: #ffffff;
  display: flex;
  justify-content: space-between;  /* 左右の要素を分ける */
  align-items: center;
  padding: 10px 20px;  /* ヘッダーの上下左右に余白を設定 */
  background-color: #b7cfc4;  /* 必要に応じて背景色を設定 */
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar a,
.navbar a:hover {
  color: #fff;
}

.navbar-left {
  font-size: 24px;
}

.navbar-right {
  display: flex;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.col-md-2 {
  width: 90%;
  //padding-left: 20px;
}

.posts-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* コメント入力欄 */
.custom-textarea {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
}

.custom-submit {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-submit:hover {
  background-color: #45a049; /* ホバー時の色 */
}

.custom-comment {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.custom-comment h6 {
  font-weight: bold;
}

.custom-comment p {
  font-size: 14px;
  color: #555;
}

.custom-comment .btn {
  margin-left: auto;
}

.custom-delete-btn {
  background-color: white;
  color: #ff7f7f;
  border: none; /* 境界線を消す */
}

.custom-delete-btn:hover {
  background-color: #ff9e9e; /* ホバー時の色 */
  color: white;
}

a {
  color: #3190d8;  /* 変更したい色に設定 */
}

a:hover {
  color: #45B39D;  /* ホバー時の色 */
}

.favorite-button-container {
  min-width: 100px; /* 幅を広げる */
}
