@use '~bootstrap/scss/bootstrap';


body {
  font-family: 'BIZ UDPMincho', serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.col-md-2 {
  width: 90%;
  //padding-left: 20px;
}

.posts-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* コメント入力欄 */
.custom-textarea {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  font-size: 16px;
}

.custom-submit {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-submit:hover {
  background-color: #45a049;
}

.custom-comment {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.custom-comment h6 {
  font-weight: bold;
}

.custom-comment p {
  font-size: 14px;
  color: #555;
}

.custom-comment .btn {
  margin-left: auto;
}

.custom-delete-btn {
  background-color: white;
  color: #ff7f7f;
  border: none;
}

.custom-delete-btn:hover {
  background-color: #ff9e9e;
  color: white;
}

a {
  color: #3190d8;
}

a:hover {
  color: #45B39D;
}

.favorite-button-container {
  min-width: 100px; 
}

.title {
  font-size: 3rem; 
  text-align: center; 
  padding-bottom: 10px;
  border-bottom: 2px dashed #ddd; 
  display: inline-block; 
}

/* エラーメッセージ */
#error_explanation {
  background-color: #f8d7da; 
  border: 1px solid #f5c6cb;
  color: #721c24; 
  padding: 15px;
  border-radius: 5px;
}

#error_explanation ul {
  padding-left: 20px;
}

#error_explanation li {
  font-size: 0.9rem;
}

#error_explanation h2, #error_explanation p { /* h2って書いてないけどデベロッパーツールにはh2って書かれてるのでそれに合わせてる */
  font-size: 1rem;
}