// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.navbar {
  color: #ffffff;
  display: flex;
  justify-content: space-between;  /* 左右の要素を分ける */
  align-items: center;
  padding: 10px 20px;  /* ヘッダーの上下左右に余白を設定 */
  background-color: #b7cfc4;  /* 必要に応じて背景色を設定 */
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar a,
.navbar a:hover {
  color: #fff;
}

.navbar-left {
  font-size: 24px;
}

.navbar-right {
  display: flex;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding: 20px;
}

h1 {
  font-size: 28px;
}

.col-lg-6 {
  padding: 15px;
}

.navbar-toggle {
  display: none; /* デフォルトでは非表示 */
  font-size: 24px;
  cursor: pointer;
}

/* ナビゲーションメニューのスタイル（768px以下の画面幅） */
@media (max-width: 768px) {
  .navbar-right {
    display: none; /* デフォルトでは非表示 */
    flex-direction: column;
    background-color: #b7cfc4; /* 必要なら背景色を設定 */
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
  }

  .navbar-right.active {
    display: block; /* メニューを表示 */
  }

  .navbar-toggle {
    display: block; /* ハンバーガーメニューを表示 */
  }
}