

  <div class="container-fluid">
    <div class="row">
      <!-- サイドバー -->
      <%= render 'admin/shared/sidebar' %>

      <!-- メインコンテンツ -->
      <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
              
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>名前</th>
            <th>メールアドレス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td class="text-center"><%= link_to '詳細', admin_user_path(user), class: 'btn btn-primary btn-sm' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>

