

  <div class="container-fluid">
    <div class="row">
      <!-- サイドバー -->
      <%= render 'admin/shared/sidebar' %>

      <!-- メインコンテンツ -->
      <div role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
              
        <h1>全ユーザー一覧</h1>
        <ul>
          <% @users.each do |user| %>
            <li>
              <%= user.name %> - <%= user.email %>
              <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' } %>
            </li>
          <% end %>
       </ul>
      </div>
    </div>
  </div>

