<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column mt-4">
      <li class="nav-item">
        <%= link_to 'ユーザー一覧', admin_users_path, class: "nav-link #{active_class(admin_users_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'カテゴリ管理', admin_categories_path, class: "nav-link #{active_class(admin_categories_path)}" %>
      </li>
    </ul>
  </div>
</nav>